<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Route Planner</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">

        <h1>🚗 SMART ROUTE PLANNER</h1>

        <div class="input-section">

            <select id="source">
                <option value="">Select Source City</option>
            </select>

            <select id="destination">
                <option value="">Select Destination City</option>
            </select>

            <button id="findRoute">Find Route</button>
        </div>

        <div id="output" class="output-box"></div>

    </div>

    <script src="/static/script.js"></script>

</body>
</html>
